Package: yecwallet
Version: RELEASE_VERSION
Section: base
Priority: optional
Architecture: amd64
Maintainer: Ycash Foundation <info@ycash.xyz>
Description: YecWallet is a full node and UI wallet for Ycash.
 YecWallet is a full node and UI wallet for Ycash. It comes with 
 full support for shielded addresses.
